*, *::before,::after{
    box-sizing:border-box;
    font-family: Gothan Rounded, sans-serif;
    font-weight: normal;


}
body{
    padding: 0;
    margin:0;
    background: linear-gradient(to right,#00aaff,#00ff6c);


}
.calculator_div{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: minmax(84px,auto) repeat(4,70px);

}
.calculator_div>button{
    cursor: pointer;
    font-size: 2rem;
    border:1px solid white  ;
    outline: none;
    background-color: rgba(255,255,255,.75) ;


}
.calculator_div>button:hover{
    background-color: rgba(255,255,255,.9);

}
.span_two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color:rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}
.output .previous_operand{
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;

}
.output .current_operand{
    color: rgb(255,255,255);
    font-size: 1.5rem;
    
}